body {
  margin: 0;
}

header {
  height: 50px;
  background-color: #000;
}

.main-body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

/*/////////////////////////////////////*/

.current-play {
  display: flex;
  flex: 1 1 auto;
}

.current-play__alley {
  position: relative;
  flex: 1 1 auto;
  background-image: url('./images/disco-lights.gif');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-play__opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.2);
}

/* .current-play__alley-img {
  display: block;
  background: url(./images/Bowling_Alley.png) no-repeat;
  background-size: contain;
  background-position-y: 260px;
  width: 100%;
  height: 100%;
} */

.current-play__pins {
  display: flex;
  flex-direction: row-reverse;
  flex: 0 1 auto;
  margin-right: 8em;
}

.current-play__pin {
  position: relative;
  /* display: inline-block; */
  background: url('./images/pin4.png') center center no-repeat;
  background-size: contain;
  width: 4em;
  height: 11em;
}

.current-play__pin.is-hidden {
  visibility: hidden;
}

/*/////////////////////////////////////*/

.current-play__keypad {
  width: 250px;
  height: 300px;
  position: absolute;
  background: #fff;
  right: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.keypad__key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.keypad__key:hover {
  background-color: grey;
}

/*/////////////////////////////////////*/

.scoreboard {
  flex: 0 0 170px;
  border-top: 1px solid black;
  background-color: #fff;
  position: relative;
  display: flex;
}

.scoreboard__frame {
  flex: 1 1 auto;
  border: 1px solid black;
  position: relative;
}

.frame__bowl-scores {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 2em;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
}

.frame__first-bowl,
.frame__second-bowl {
  flex: 1 1 auto;
}

.frame__first-bowl {
  border-right: 1px solid black;
}
